#bodyIndex{
    background:  blue;
}
/* styles.css */
body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    padding: 20px;
    background-color: darkblue;
    margin: 0;
}

footer {
    background-color: rgb(64, 63, 63); /* Define a cor de fundo do rodapé */
    padding: 10px;
    text-align: center;
    
    bottom: 0;
    width: 100%;
}

.carousel-button {
    background-color: #3498db;
    color: rgb(20, 1, 4);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .carousel-button.prev {
    float: left;
  }
  
  .carousel-button.next {
    float: right;
  }
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}#status-pedido {

    font-size: 20px;
    
    background: #ccc;
    
    color: #fff;
    
    padding: 30px;
    
    width: 100%;
    
    }
    
    @media screen and (min-width: 30em) {
    
    .w-70 {
    
    width: 70%;
    
    }
    
    }
    
    #bloco-confirma {
    
    border-radius: .5rem;
    
    background: #e8fdf5;
    
    padding: 2rem;
    
    border: 1px solid #19a974;
    
    }
